.container{
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 4px;
}

.content{
  max-width: 1180px;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  margin: 0 auto;
  gap: 23px;
  display: flex;
}
.title{
  color: rgb(254,202,27);
  font-weight: 600;
  font-style: italic;
  font-size: 26px;
  text-shadow: 2px 2px 1px rgb(57,96,160);

}
.navlink{
  display: flex;
  align-items: center;
  gap: 12px;
}
.textlink{
  text-decoration: none;
  color: rgb(68, 68, 68);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  font-family: sans-serif;
}