.content{
  width: 100%;
  height: 300px;
  padding: 12px;
}
.textInfo{
font-size: 36px;
color: rgb(97, 97, 97);
font-family: sans-serif;
font-weight: 600;
}
.ability{
  gap: 8px;
  font-size: 36px;
  display: flex;;
  color: rgb(77, 77, 77);
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;  
}
.textability{
  color: rgb(248, 96, 76);
}

.btnsave{
  border: none;
  width: 160px;
  height: 40px;
  background-color: rgb(240, 210, 75);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}