.wrapperCard{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: center;
  padding: 0 12px;
}
.container{
  margin-top: 1em;
}
.btnNext{
  background-color: rgb(247, 247, 247);
  color: rgb(119, 119, 119);
  border: none;
  padding: 6px 12px;
  font-family: sans-serif;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btnPrev{
  background-color: rgb(247, 247, 247);
  color: rgb(119, 119, 119);
  font-family: sans-serif;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.wrapperAction{
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;

}
.page{
  display: flex;
  gap: 6px;
  color: gray;
  align-items: center;
  font-family: sans-serif;
  font-style: normal;
}