.container{
  width: 100%;
}
.content{
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(3, 1fr);
}
.icon{
  width: 100px;
  height: 100;
}
.card{
  padding: 12px 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.wrapperIcon {
  display: flex;
  justify-content: center;
}
.textName{
  font-size: 18px;
  color: rgb(66, 66, 66);
  font-family: sans-serif;
}
.btn{
  background-color: rgb(250, 117, 100);
  border: none;
  color: white;
  width: 100%;
  padding: 6px 12px;
  border-radius: 6px;
  font-family: sans-serif;
  font-weight: 600;
}