.card{
  width: auto;
  background: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 12px;
  height: 200px;
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  justify-content: center;
  transition: .3s;

}
.title{
  color: rgb(253, 125, 103);
  font-size: 24px;
  font-weight: 600;
}

.titleLoad{
  color: rgb(202, 202, 202);
  font-size: 24px;
  font-weight: 600;
  padding: 12px 16px;
  background-color: rgba(235, 235, 235, 0.925);
}

.photo{
  width: 90px;
}
.card:hover{
  transform: scale(1.1);
}

.photoload{
  width: 90px;
  height: 90px;
  background-color: rgba(235, 235, 235, 0.925);
}

.wrapperBody{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.textweight{
  font-size: 16px;
  font-family: sans-serif;
  color: gray;
  background-color: rgba(255, 255, 255, 0.705);
  padding: 8px;
  text-align: center;
  font-weight: 700;
  border-radius: 6px;
}

.textweightLoad{
  font-size: 18px;
  font-family: sans-serif;
  color: rgba(235, 235, 235, 0.925);
  background-color: rgba(235, 235, 235, 0.925);
  padding: 8px 16px;
  text-align: center;
  font-weight: 700;
  border-radius: 6px;
}