.container{
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 1em;
}

.content{
  max-width: 1180px;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  margin: 0 auto;
}
