.content{
  max-width: 360px;
  background-color: rgba(255, 255, 255, 0.815);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  justify-content: center;
  padding: 12px;
}
.photo{
  width: 360px;
}
.wrapActionImage{
  height: 90px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  width: 90px;
}
.wrapperBodyAction{
  display: flex;
  gap: 12px;
}